* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #eee;
    background-color: #222;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.5rem;
}

h1 {
    color: lightblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2px;
}

.container {
    display: flex;
    min-width: 800px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.square {
    background-color: #333;
    border-radius: 4px;
    height: 12px;
    aspect-ratio: 1 / 1;
}

.square-transparent {
    background-color: #fff;
    border-radius: 4px;
    height: 12px;
    aspect-ratio: 1 / 1;
    opacity: 0.1;
}
